<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
		PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="co.com.xoftix.spaservicios.mapper.ge.BarriadaMapper">

    <cache type="org.mybatis.caches.hazelcast.LoggingHazelcastCache"/>
    
    <sql id="selectFragment">
        select
            id as  id
            ,nombre as  nombre
            ,codigo as  codigo
            ,id_poblado as  idPoblado
            ,activo as activo
         
        from ge_barriada_tb
    </sql>
    <sql id="whereFragment">
        <where>
            <if test="id !=null">
                id = #{id} 
            </if>
            <if test="nombre !=null">
                AND nombre like #{nombre} 
            </if>
            <if test="codigo !=null">
                AND codigo = #{codigo} 
            </if>
            <if test="idPoblado !=null">
                AND id_poblado = #{idPoblado} 
            </if>
            <if test="activo !=null">
                AND activo = #{activo} 
            </if>
        </where>
    </sql>
    <select id="consultar" parameterType="Barriada" resultType="Barriada" useCache="true">
        <include refid="selectFragment" />
        <include refid="whereFragment" />
    </select>
</mapper>