<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
		PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="co.com.xoftix.spaservicios.mapper.ge.CorregimientoMapper">
    <cache type="org.mybatis.caches.hazelcast.LoggingHazelcastCache"/>
    
    <sql id="selectFragment">
        select
            id as  id
            ,nombre as  nombre
            ,codigo as  codigo
            ,id_distrito as  idDistrito
            ,activo as activo
            ,escomarca as esComarca
        from ge_corregimiento_tb
    </sql>
    <sql id="whereFragment">
        <where>
            <if test="id !=null">
                id = #{id} 
            </if>
            <if test="nombre !=null">
                AND nombre like #{nombre} 
            </if>
            <if test="codigo !=null">
                AND codigo = #{codigo} 
            </if>
            <if test="idDistrito !=null">
                AND id_distrito = #{idDistrito} 
            </if>
            <if test="activo !=null">
                AND activo = #{activo} 
            </if>
            <if test="esComarca !=null">
                AND escomarca = #{esComarca} 
            </if>
        </where>
    </sql>
    <select id="consultar" parameterType="Corregimiento" resultType="Corregimiento" useCache="true">
        <include refid="selectFragment" />
        <include refid="whereFragment" />
    </select>
</mapper>